Ud3/xml/Unidad_3_pack_5_Jhonatan_Andres_Ramirez/ejercicio5.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="elemento">
    <xs:complexType>
      <xs:sequence>
      
        <xs:element name="ciudad" type="xs:string"/>
        <xs:element name="data-de-nacimiento" type="xs:date"/>
        <xs:element name="hora" type="xs:string"/>
        <xs:element name="nota" type="xs:decimal"/>
        <xs:element name="apto" type="xs:string"/>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>