Ud3/xml/Unidad_3_pack_4_Jhonatan_Andres_Ramirez/ejercicio4.2.dtd

<!ELEMENT lista_cursos (cursos+)>
<!ELEMENT cursos (alumnos+)>
<!ELEMENT alumnos (dni, nombre, apellido, segundo_apellido?, asignaturas+)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT segundo_apellido (#PCDATA)>
<!ELEMENT asignaturas (nombre, profesor)>
<!ELEMENT profesor (nrp, nombre, apellido, segundo_apellido?)>
<!ELEMENT nrp (#PCDATA)>
<!ATTLIST asignaturas codigo CDATA #REQUIRED>