Ud3/xml/Unidad_3_pack_4_Jhonatan_Andres_Ramirez/ejercicio4.1.dtd

<!ELEMENT listafacturas (facturas+)>
<!ELEMENT facturas (emisor, pagador, importe)>
<!ELEMENT emisor (nombre, volumenventas?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT volumenventas (#PCDATA)>
<!ATTLIST facturas fecha CDATA #IMPLIED>
<!ATTLIST emisor cif CDATA #REQUIRED>
<!ATTLIST pagador cif CDATA #REQUIRED>


<!ELEMENT pagador (nombre, volumenventas?)>


<!ELEMENT importe (#PCDATA)>



